<div class="about mg-t mg-b " id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 about-cont mt-5" data-aos="fade-left"
        data-aos-duration="1000">
          <h2>Hello, we are EmployeeEase</h2>
          <p>An Employee Management System is an indispensable tool for modern businesses seeking to streamline their HR processes and enhance workforce management.</p>
          <span>If you have any question regarding EmployeeEase, you can contact us immediately. Thank you.</span>
        </div>
        <div class="col-md-6 col-lg-4 mt-5" data-aos="fade-up"
        data-aos-duration="1000">
          <div class="card about-cardl mg-b2 " style="width: 300px;">
            <img src="../../assets/Images/Profile-02.jpg" alt="na" class="img-fluid" style="height: 350px;">
             <div class="card-body">
              <div class="row">
                <div class="col-xm-7 card-b">
                  <h3>Harish</h3>
                  <h4>CEO</h4>
                </div>
                <div class="d-flex">
                  <i class="fab fa-twitter "></i>    
                  <i class="fab fa-facebook-f ml-3"></i>
                </div>
              </div>
             </div>
             
           </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-5" data-aos="fade-up"
        data-aos-duration="1000">
          <div class="card about-cardl mg-b2" style="width: 300px;">
            <img src="../../assets/Images/Profile-01.jpg" alt="na" class="img-fluid" style="height: 350px;">
             <div class="card-body">
              <div class="row">
                <div class="col-xm-7 card-b">
                  <h3>Amit Sharma</h3>
                  <h4>Director</h4>
                </div>
                <div class="d-flex">
                  <i class="fab fa-twitter "></i>    
                  <i class="fab fa-facebook-f ml-3"></i>
                </div>
              </div>
             </div>
             
           </div>
        </div>
      </div>
    </div>
  </div>