<div class="home ">
    
      
      <div class="home-content" id="home">
        <h3 data-aos="fade-right" data-aos-duration="1000">A new way to manage employee data</h3>  
          <h2 data-aos="fade-right" data-aos-duration="1000">UPGRADE YOUR BUSINESS AT EmployeeEase</h2>
             <div class="home-btn">
                 <button class="btnr btn" data-aos="fade-left"
                 data-aos-duration="1000">GET STARTED</button>
                 <button class="btnl bt" data-aos="fade-down"
                 data-aos-duration="1000">LEARN MORE</button>
             </div>
      </div>
    
 </div>

 <div class="home-addtion">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 addtion-r mg-b " data-aos="fade-down"
            data-aos-delay="50"
            data-aos-duration="1000">
                <h3>New to the EmployeeEase?</h3>
                <h4>Your Free trial is up to 2 months FREE</h4>
                <p class="text-light">Streamline and simplify workforce management with EmployeeEase, the all-in-one solution for efficient HR and employee coordination.</p>
                <button class="btn-add">BECOME A MEMBER TODAY</button>
            </div>
            <div class="col-lg-5 addtion-l " data-aos="fade-down"
            data-aos-delay="300"
            data-aos-duration="1000">
              <h3>Working hours</h3>
              <span>Sunday : Closed</span>
              <h4>Monday - Friday <br>
                7:00 AM - 10:00 PM
              </h4>
              <h5>Saturday <br>
                6:00 AM - 4:00 PM
              </h5>
            </div>
        </div>
    </div>
</div>


<div class="schedule" id="sch">
<h2>Our weekly schedules</h2>
<h3>
Employee Timetable
</h3>
<div class="container">

<table class="table  table-responsive schedule-table" data-aos="fade-up" data-aos-delay="300">

  <thead class="">
      <th class="b"><i class="fa fa-calendar"></i></th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
  </thead>

  <tbody>
      <tr>
         <td class="b"><small>7:00 am</small></td>
         <td>
              <br>
             <span>7:00 am - 9:00 am</span>
         </td>
         <td>
             <br>
             <span>7:00 am - 9:00 am</span>
         </td>
         <td></td>
         <td></td>
         <td>
              <br>
             <span>7:00 am - 9:00 am</span>
         </td>
      </tr>

      <tr>
         <td class="b"><small>9:00 am</small></td>
         <td></td>
         <td></td>
         <td>
              <br>
             <span>8:00 am - 9:00 am</span>
         </td>
         <td>
              <br>
             <span>8:00 am - 9:00 am</span>
         </td>
         <td></td>
         <td>
              <br>
             <span>8:00 am - 9:00 am</span>
         </td>
      </tr>

      <tr>
         <td class="b"><small>11:00 am</small></td>
         <td></td>
         <td>
              <br>
             <span>11:00 am - 2:00 pm</span>
         </td>
         <td>
              <br>
             <span>11:30 am - 3:30 pm</span>
         </td>
         <td></td>
         <td>
              <br>
             <span>11:50 am - 5:20 pm</span>
         </td>
      </tr>

      <tr>
         <td class="b"><small>2:00 pm</small></td>
         <td>
              <br>
             <span>2:00 pm - 4:00 pm</span>
         </td>
         <td>
              <br>
             <span>3:00 pm - 6:00 pm</span>
         </td>
         <td></td>
         <td>
              <br>
             <span>6:00 pm - 9:00 pm</span>
         </td>
         <td></td>
         <td>
              <br>
             <span>5:00 pm - 7:00 pm</span>
         </td>
      </tr>
  </tbody>
</table>
</div>
</div>


<div class="contact" id="contact">


<div class="container">
<div class="row">

     <div class="ml-auto col-lg-5 col-md-6 col-12 contact-info">
         <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Feel free to ask anything</h2>

         <form action="#" method="post" class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
             <input type="text" class="" name="cf-name" placeholder="Name">

             <input type="email" class="" name="cf-email" placeholder="Email">

             <textarea class="" rows="5" name="cf-message" placeholder="Message"></textarea>

             <button type="submit" class="" id="submit-button" name="submit">Send Message</button>
         </form>
     </div>

     <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12 contcat-map">
         <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600">Where you can <span>find us</span></h2>

         <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> Jalandhar,Punjab</p>
         <div class="google-map" data-aos="fade-up" data-aos-delay="900">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.726399367144!2d75.7025685751335!3d31.255996560156934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5f5e9c489cf3%3A0x4049a5409d53c300!2sLovely%20Professional%20University!5e0!3m2!1sen!2sin!4v1699374782892!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
         </div>
     </div>
     
</div>
</div>
</div>
