
<nav class="navbar navbar-expand-md  navbar-dark fixed-top mb-4">
  <a class="navbar-brand" routerLink="/main">EmployeeEase</a>
  <a class="navbar-toggler togg" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <i class="fas fa-bars menu "></i>
  </a>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav navbar-t">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services">Services</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-social ">
      <a href="https://www.facebook.com/C0deTricks"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/code0tricks/?hl=en"> <i class="fab fa-instagram"></i></a>
      <i class="fab fa-twitter"> </i>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>