<div class="class mg-b" id="class">
    <div class="container" style="margin-top: 110px;">
    <h3>
      Get A Perfect Solution
    </h3>
    <h2>Our Services</h2>
    <div class="row">
      <div class=" col-lg-4 class-l" data-aos="fade-up"
      data-aos-duration="1000">
        <div class="card mg-b2">
          <img src="../../images/class/cardio-class.jpg" alt="" class="img-fluid">
          <div class="card-body class-m">
            <div class="card-content">
              <h2>Basic</h2>
              <h3>Benifits</h3>
    
              <div class="price">
                $10
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 " data-aos="fade-down"
      data-aos-duration="1000">
        <div class="card mg-b2">
          <img src="../../images/class/crossfit-class.jpg" alt="" class="img-fluid">
          <div class="card-body class-m">
            <div class="card-content">
              <h2>Standard</h2>
              <h3>Benifits</h3>
    
              <div class="price">
                $25
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 class-r "data-aos="fade-up"
      data-aos-duration="1000">
        <div class="card mg-b2">
          <img src="../../images/class/yoga-class.jpg" alt="" class="img-fluid">
          <div class="card-body class-m">
            <div class="card-content">
              <h2>Premium</h2>
              <h3>Benifits</h3>
    
              <div class="price">
                $35
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>